.app {
  min-height: 100vh; /* full viewport height */
  max-width:screen;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
.content {
  min-height: 100vh; /* full viewport height */
  max-width:800px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

.toggle-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;          
  height: 35px;
  border: none;
  border-radius: 50%; 
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--button-text);
  display: flex;          
  align-items: center;    
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}
.links-btn {
  width: auto;          
  height: auto;
  border: none;
  cursor: pointer;
  font-size: 2em; 
  background-color: var(--button-text);
  color: var( --button-color);
  align-items: center;    
  justify-content: center;
  display:inline;          
  
}

.toggle-btn:hover {
  opacity: 0.8;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

footer {
  text-align: center;
  margin-top: 50px;
  font-size: 0.9em;
  color: inherit;
}
