:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #fff;
  --text-color: #333;
  --button-text: #fff;
}

body,
html {
  margin: 0;
  padding: 0;
  height: screen;
  overflow-x: hidden;
  /* background-color: var(--bg-color); */
  color: var(--text-color);
}
