.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal {
  background: white;
  justify-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}
.modal input {
  display: block;
  margin: 10px auto; 
  padding: 8px;
  width: 80%;
  box-sizing: border-box;
}

.modal-buttons {
  display: flex;
  margin-top: 10px;
  gap: 30px; 
}
